$primary-color: #082a61;
$secondary-color:#fee333;
$accent-color: $dark-gray;

$font-color: #253045;
$font-color-light: rgba($font-color, 0.6);
$white: #FEFEE6;


$xera-gradient: linear-gradient(135deg, #202b41,#202b41);
// $xera-gradient: blue;
