$primary-color: #082a61;
$secondary-color:#fee333;

$font-color: #253045;
$font-color-gray: #4a4a4a;
$font-color-light: #767676;

$white: #FEFEE6;

$xera-gradient: linear-gradient(135deg, #202b41,#202b41);
// $xera-gradient: blue;
