
/* FULL PAGE HEADER IMAGE */

section {
  padding: 0px 15px;
}

@media screen and (min-width: 40em){
  section {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 64em) {
  section {
    padding: 0px;
  }
}

.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(650);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


// intro section

.intro-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 40em){
  .intro-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}



// text center
.col-1-text-center {
  h3, p {
    text-align: center;
  }
}

// full page image center page
.fw-image-01 {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }
}

// full page image flush
.fw-image-02 {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  img {
    width: 100%;
  }
}

// NEW Layout styles

.content-wrapper {
  padding: 60px 15px;
}

@media screen and (min-width: 40em){
  .content-wrapper {
    padding: 90px 0px;
  }
}



article {
  padding: 15px 0px;
}

@media screen and (min-width: 40em){
  article {
    .img-row {
      padding-bottom: 30px;
    }
  }
}
