
/* FULL PAGE HEADER IMAGE */

// section {
//   padding: 90px 0px;
// }

// @media screen and (min-width: 40em){
//   section {
//     padding: 30px 15px;
//   }
// }

// @media screen and (min-width: 64em) {
//   section {
//     padding: 0px;
//   }
// }

.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(650);
  display: flex;
  align-items: center;
}

.hero-content {
  margin-top: 60px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 40em){
  // .hero-content{
  //   padding: 180px 0px 80px 0px;
  // }
}

// intro section

.intro-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 40em){
  .intro-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}



// text center
.col-1-text-center {
  h3, p {
    text-align: center;
  }
}

// full page image center page
.fw-image-01 {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }
}

// full page image flush
.fw-image-02 {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  img {
    width: 100%;
  }
}

// NEW Layout styles

.content-wrapper {
  padding: 90px 0px;
}

article {
  padding: 15px 0px;
}

@media screen and (min-width: 40em){
  article {
    .img-row {
      padding-bottom: 30px;
    }
  }
}
