
/* FULL PAGE HEADER IMAGE */

section {
  padding: 0px 15px;
}

@media screen and (min-width: 40em){
  section {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 64em) {
  section {
    padding: 0px;
  }
}

.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(650);
  display: flex;
  width: 100%;
  align-items: center;
  // justify-content: center;
}


// intro section

.intro-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 40em){
  .intro-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}


// Project introduction
.project-intro {
  padding-top: 180px;
  h6 {
      text-transform: uppercase;
      font-weight: 400;
  }
}

.project-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 40em){
  .project-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.content-wrapper {
  padding: 60px 15px;
}

@media screen and (min-width: 40em){
  .content-wrapper {
    padding: 90px 0px;
  }
}



article {
  padding: 15px 0px;
}

@media screen and (min-width: 40em){
  article {
    .img-row {
      padding-bottom: 30px;
    }
  }
}
