@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,800');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


// font-family: 'Libre Baskerville', serif;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: $font-color;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
li::selection, { 
  background: $primary-color;
  color: $white; 
}

h1 {
  margin-bottom: 30px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  hyphens: none;
  color: $font-color;
  font-size: 16px;
}

a, li {
  font-family: 'Poppins', sans-serif;
  color: $font-color;
}

.white-text {
  color: $white;
}
