// @font-face { font-family: omnes_bold; src: url(../fonts/Omnes_ATTW02-Bold.woff);}
// @font-face { font-family: omnes_bold-italic; src: url(../fonts/OmnesATTW02-BoldItalic.woff);}

@font-face { font-family: graphik-light; src: url(../fonts/Graphik-300-Light.otf);}
@font-face { font-family: graphik-regular; src: url(../fonts/Graphik-400-Regular.otf);}
@font-face { font-family: graphik-bold; src: url(../fonts/Graphik-700-bold.otf);}
@font-face { font-family: graphik-black; src: url(../fonts/Graphik-800-black.otf);}


$light-font: graphik-light, sans-serif;
$heading-font: graphik-bold, sans-serif;
$body-font: graphik-regular, sans-serif;

$bold-font: graphik-bold, sans-serif;
$black-font: graphik-black, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $font-color;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
li::selection, {
  background: $secondary-color;
  color: $black;
}

.text-bg {
  background: $secondary-color;
}

p {
  font-family: $body-font;
  hyphens: none;
  color:  lighten($font-color, 3);
  font-size: 18px;
  line-height: 28px;
}

a, li {
  font-family: $body-font;
  color: $font-color;
}

.light-color {
  color: $font-color-light;
}

