// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,800');
@import url('http://webfonts-plus.herokuapp.com?family=Graphik');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700,900');

$font: 'Rubik', sans-serif;
$body-font: 'Rubik', sans-serif;

// $font: "Poppins", sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  font-weight: 700;
  color: $font-color;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
li::selection, {
  background: $secondary-color;
  color: $black;
}


p {
  font-family: $body-font;
  font-weight: 300;
  hyphens: none;
  color: $font-color;
  font-size: 18px;
  line-height: 1.9;
}

a, li {
  font-family: $font;
  color: $font-color;
}


