


<section class="home-portfolio">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-4 medium-4 small-12 col-3-img-text">
            <div class="img-overlay-item">
                <div class="img-overlay">
                <a href="#">
                <figcaption class="img-overlay-caption">
                    <h4>View Project</h4>
                </figcaption>
                <figure><img src="assets/img/portfolio-item-01.jpg" alt=""></figure>
                </a>
                </div>
            </div>                 
            <h5>Te Ātiawa Trust</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit olor sit amet.</p>
            <a href="contact.html" class="btn-secondary-03">View project <span><img src="assets/img/arrow-dark-right.svg" alt=""></span></a>
        </div>
        <div class="cell large-4 medium-4 small-12 col-3-img-text">      
            <div class="img-overlay-item">
                <div class="img-overlay">
                <a href="#">
                 <figcaption class="img-overlay-caption">
                     <h4>View Project</h4>
                 </figcaption>
                 <figure><img src="assets/img/portfolio-item-02.jpg" alt=""></figure>
                </a>
                </div>
            </div>                   
          <h5>Physiotherapy New Zealand</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit olor sit amet.</p>
          <a href="contact.html" class="btn-secondary-03">View project <span><img src="assets/img/arrow-dark-right.svg" alt=""></span></a>
        </div>
        <div class="cell large-4 medium-4 small-12 col-3-img-text">
            
          <div class="img-overlay-item">
                <div class="img-overlay">
                <a href="#">
                 <figcaption class="img-overlay-caption">
                     <h4>View Project</h4>
                 </figcaption>
                 <figure><img src="assets/img/portfolio-item-03.jpg" alt=""></figure>
                </a>
                </div>
            </div>
                        
            <h5>Cancer Society</h5>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit olor sit amet ipsum, dolor.</p>
            <a href="contact.html" class="btn-secondary-03">View project <span><img src="assets/img/arrow-dark-right.svg" alt=""></span></a>
        </div>

      </div>
    </div>
  </section>

