 
    <section class="home-portfolio">
            <div class="grid-container">
              <div class="grid-x grid-margin-x">
                <div class="cell large-4 medium-4 small-12">
                    <div class="img-overlay-item">
                        <div class="img-overlay">
                        <a href="#">
                        <figcaption class="img-overlay-caption">
                            <h6>Te Awe Maori Business</h6>
                            <div class="text-divider-02"></div>
                            <p>Web, Publication, Digital</p>
                        </figcaption>
                        <figure><img src="assets/img/portfolio-item-04.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>               
                </div>
                <div class="cell large-4 medium-4 small-12">      
                    <div class="img-overlay-item">
                        <div class="img-overlay">
                            <a href="#">
                            <figcaption class="img-overlay-caption">
                                <h6>Wellington Property Press</h6>
                                <div class="text-divider-02"></div>
                                <p>Desktop Publishing, Print</p>
                            </figcaption>
                            <figure><img src="assets/img/portfolio-item-06.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>                   
                </div>

                <div class="cell large-4 medium-4 small-12">
                  <div class="img-overlay-item">
                        <div class="img-overlay">
                        <a href="#">
                         <figcaption class="img-overlay-caption">
                            <h6>New Zealand Cancer Society</h6>
                            <div class="text-divider-02"></div>
                            <p>Design, Print, Publication</p>
                         </figcaption>
                         <figure><img src="assets/img/portfolio-item-05.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="cell large-4 medium-4 small-12">
                     <div class="img-overlay-item">
                        <div class="img-overlay">
                        <a href="#">
                        <figcaption class="img-overlay-caption">
                            <h6>New Zealand Cancer Society</h6>
                            <div class="text-divider-02"></div>
                            <p>Design, Print, Publication</p>
                        </figcaption>
                        <figure><img src="assets/img/portfolio-item-01.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <div class="img-overlay-item">
                        <div class="img-overlay">
                        <a href="#">
                        <figcaption class="img-overlay-caption">
                            <h6>New Zealand Cancer Society</h6>
                            <div class="text-divider-02"></div>
                            <p>Design, Print, Publication</p>
                        </figcaption>
                        <figure><img src="assets/img/portfolio-item-02.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="cell large-4 medium-4 small-12">
                    <div class="img-overlay-item">
                        <div class="img-overlay">
                        <a href="#">
                        <figcaption class="img-overlay-caption">
                            <h6>New Zealand Cancer Society</h6>
                            <div class="text-divider-02"></div>
                            <p>Design, Print, Publication</p>
                        </figcaption>
                        <figure><img src="assets/img/portfolio-item-03.jpg" alt=""></figure>
                        </a>
                        </div>
                    </div>
                </div>


        
              </div>
            </div>
          </section>
        
        