<section class="portfolio-item-hero foma-annual-report">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <div class="portfolio-item-heading">
                    <ul class="portfolio-item-tags">
                        <li><a href="#" title="Print">Print</a></li>
                        <li>+</li>
                        <li><a href="#" title="Brand">Brand</a></li>
                        <li>+</li>
                        <li><a href="#" title="Publication">Publication</a></li>
                    </ul>
                    <h1>Annual Report 2018</h1>
                    <p class="portfolio-heaing-client"><span>Client:</span> Foma</p>
                </div>
                <div class="portfolio-item-hero-img">
                    <img src="assets/img/portfolio-banner-test.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-1-text-center">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 large-offset-2 small-12">
                <h3>A new formula</h3>
                <p>Building on the good work done previously, our main objective with the redesign was to up the ante. The Institute of Directors are thought leaders in governance and we wanted to strongly reflect this in the publication. </p>
                <p>We opted for pointy (and potentially provocative) cover imagery with minimal, uncluttered messaging. Inside we wanted to make the content accessible; we broke it into readable chunks and injected custom graphics, infographics and photography, all with an eye to inspire and equip people in governance.</p>
            </div>
        </div>
    </div>
</section>

<section class="fw-image-01">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <img src="assets/img/fomo-mockup-03.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 large-offset-3">
                <p class="pull-quote-center">Building on the good work done previously, our main objective with the redesign was to up the ante.</p>
            </div>
        </div>
    </div>
</section>


<section class="fw-image-02">
    <div class="grid-x">
        <div class="cell large-12">
            <img src="assets/img/fomo-mockup-fp-spread.jpg" alt="">
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 large-offset-3">
                <p class="pull-quote-center">Building on the good work done previously, our main objective with the redesign was to up the ante.</p>
            </div>
        </div>
    </div>
</section>

<section class="col-2-image">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <img style="margin-bottom: 30px" src="assets/img/fw-image-1200-01.jpg" alt="">
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-6 small-12">
                <img src="assets/img/portfolio-2-col-600x400-01.jpg" alt="">
            </div>
            <div class="cell large-6 medium-6 small-12">
                <img src="assets/img/portfolio-2-col-600x400-02.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="col-1-text-center">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 large-offset-2 small-12">
                <h3>A new formula</h3>
                <p>Building on the good work done previously, our main objective with the redesign was to up the ante. The Institute of Directors are thought leaders in governance and we wanted to strongly reflect this in the publication. </p>
                <p>We opted for pointy (and potentially provocative) cover imagery with minimal, uncluttered messaging. Inside we wanted to make the content accessible; we broke it into readable chunks and injected custom graphics, infographics and photography, all with an eye to inspire and equip people in governance.</p>
            </div>
        </div>
    </div>
</section>

<div class="section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12 btn-next-project">
                <a href="contact.html" class="btn-primary-03">View next project <span><img src="assets/img/arrow-right.svg" alt=""></span></a>
            </div>
        </div>
    </div>
</div>