<div class="portfolio-item-hero fomo-annual-report">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <div class="portfolio-item-heading">
                    <p>Print + Brand + Advertising</p>
                    <h1>Fomo Annual Report 2018</h1>
                </div>
                <div class="portfolio-item-hero-img">
                    <img src="assets/img/portfolio-banner-test.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="portfolio-item-1-col-text">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 large-offset-2 small-12">
                <h3>A new formula</h3>
                <p>Building on the good work done previously, our main objective with the redesign was to up the ante. The Institute of Directors are thought leaders in governance and we wanted to strongly reflect this in the publication. </p>
                <p>We opted for pointy (and potentially provocative) cover imagery with minimal, uncluttered messaging. Inside we wanted to make the content accessible; we broke it into readable chunks and injected custom graphics, infographics and photography, all with an eye to inspire and equip people in governance.</p>
            </div>
        </div>
    </div>
</section>

<section class="fw-img">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <img src="assets/img/fomo-mockup-03.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 large-offset-3">
                <p class="quote-center">Building on the good work done previously, our main objective with the redesign was to up the ante.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-x">
        <div class="cell large-6 medium-6 small-12 fomo-left">
            <h3>Fomo Annual Report 2018</h3>
            <p class="lead-paragraph">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore earum mollitia autem tempore commodi odit cum veniam.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nam adipisci quod numquam error sint praesentium? Beatae dolor possimus consectetur optio cupiditate illum? Culpa provident non expedita ipsum suscipit veritatis.</p> 
        </div>
        <div class="cell large-6 medium-6 small-12 fomo-right">
            <img src="assets/img/fomo-mockup-02.jpg" alt="">
        </div>
    </div>
</section>