// %button-style {
//   color: $font-color;
//   text-decoration: none;
//   padding: 5px 0;
//   position: relative;
//   cursor: pointer;
//   transition: all 1s ease;
//   overflow: hidden;
//   display: inline-block;
//   z-index: 0;
//   font-weight: 500;
// }

// .btn-secondary-03 {
//   @extend %button-style;
//   color: $font-color;
//   text-decoration: none;
//   padding: 5px 0;
//   position: relative;
//   cursor: pointer;
//   transition: all 0.05s ease;
//   overflow: hidden;
//   display: inline-block;
//   z-index: 0;
//   font-size: 16px;
//   font-weight: 600;
//   span {
//     img {
//       width: 25px;
//       margin-bottom: 0px !important;
//     }
//   }
// }

// .btn-secondary-03:before {
//   content: "";
//   width: 100%;
//   height: 2px;
//   margin-top: 32px;
//   background-color: white;
//   position: absolute;
//   transition: all 1s ease;
//   z-index: -1;
//   top: 0;
//   left: -100%;
//  }

// .btn-secondary-03:hover:before {
//     left: 0;
// }

// .btn-secondary-03:before {
//   background: $accent-color;
// }

/* BUTTONS */
/* ------- */

%button-style {
  color: $font-color;
  text-decoration: none;
  // text-transform: uppercase;
  padding: 5px 0;
  // border: 1px solid $font-color;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
  font-weight: 500;
}


.btn-primary:before {
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 32px;
  background-color: white;
  position: absolute;
  transition: all 0.25s ease;
	z-index: -1;
 }

 .btn-primary:before {
     top: 0;
     left: -100%;
   }

  .btn-primary:hover:before {
     left: 0;
  }

/* PRIMARY BUTTON */

.btn-primary {
  @extend %button-style;
  color: $font-color;
  // border-bottom: 1px solid $font-color;
  img {
    width: 20px;
    margin: 0 0 3px 4px;
  }
}

.btn-primary:before {
  background: $font-color;
}

a.btn-primary:hover {
    color: lighten($font-color, 10);
 }

 .btn-primary-02 {
  @extend %button-style;
  background: $primary-color;
  padding: 10px 20px;
  color: $white;
  // margin-top: 10px;
 }

 .btn-primary-02:hover {
  background: lighten($primary-color, 15);
  color: $white;
 }

 .btn-primary-03 {
  @extend %button-style;
  background: $primary-color;
  padding: 15px 30px;
  color: $white;
  font-size: 20px;
  span {
    margin-left: 10px;
    img {
      width: 40px;
      margin-bottom: 0px !important;
    }
  }
 }

 .btn-primary-03:hover {
  background: lighten($primary-color, 15);
  color: $white;
 }

 .btn-primary-large {
   margin: 90px 0px;
   text-align: center;
 }

 .btn-primary-large-02 {
  margin: 30px 0px;
  text-align: center;
  a {
    background:  #f0b536;
    color: white;
    font-family: $bold-font;
  }
}

.btn-primary-large-02 {
  a:hover {
    background:  darken(#f0b536, 10);
  }
}



 .btn-secondary-03 {
    @extend %button-style;
    padding: 15px 30px;
    padding-left: 0px;
    color: $font-color;
    font-size: 20px;
    span {
      margin-left: 10px;
      img {
        width: 40px;
        margin-bottom: 0px !important;
      }
    }
 }

 /* BUTTONS */
/* ------- */

.btn-secondary-03 {
  color: $font-color;
  text-decoration: none;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
  font-size: 16px;
  font-weight: 600;
  span {
    img {
      width: 25px;
      margin-bottom: 0px !important;
    }
  }
}

.btn-secondary-03:hover {
  color: $font-color;
}

.btn-secondary-03:before {
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 32px;
  background-color: white;
  position: absolute;
  transition: all 1s ease;
	z-index: -1;
 }

.btn-secondary-03:before {
    top: 0;
    left: -100%;
  }

.btn-secondary-03:hover:before {
    left: 0;
}

.btn-secondary-03:before {
  background: $font-color;
}
