img {
    width: 100%;
    // border: 1px solid rgba($font-color, 0.10);
}

.img-row {
    img {
        width: 100%;
        border: 1px solid rgba($font-color, 0.10);
    }
}

.fw-img {
    width: 100%;
    margin-bottom: 30px;
    img {
        width: 100%;
    }
}

.horizontal-ruler-thick,
.horizontal-ruler-thin,
.horizontal-ruler-thick-02,
.horizontal-ruler-thick-rev,
.horizontal-ruler-thin-rev {
    width: 100%;
    height: 3px;
    background: $font-color;
    margin: 5px 0px 30px 0px;
}

.horizontal-ruler-thin {
    height: 1px;
    background: rgba($font-color, 0.25);
}

.horizontal-ruler-thin-rev {
    height: 1px;
    background: rgba($white, 0.25);
}

.horizontal-ruler-thick-02 {
    margin-top: 10px;
}

.horizontal-ruler-thick-rev {
    background: $white;
    height: 2px;
    opacity: 0.5;
}

.text-divider,
.text-divider-rev,
.text-divider-nos {
    width: 80px;
    height: 2px;
    background: $font-color;
    margin: 30px 0px;
}

.text-divider-02 {
    width: 15px;
    height: 1px;
    background: $font-color;
    margin: 10px 0px;
}

.text-divider-rev {
    background: $white;
}

.text-divider-nos {
    background: linear-gradient(270deg, #9DCC49 0%, #429321 100%);
    height: 3px;
}

.text-padding-left {
    padding-left: 0px;
}

@media screen and ( min-width: 40em ){
    .text-padding-left {
        padding-left: 30px;
    }
}


// Lead text for introduction paragraphs
.pull-quote-center {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.pull-quote-left {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (min-width: 40em){
    .pull-quote-center {
        font-size: 28px;
    }
    .pull-quote-left {
        font-size: 40px;
        text-align: left;
        padding-right: 60px;
    }
}



// Lead text for introduction paragraphs
  
.lead {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (min-width: 40em) {
    .lead {
        font-size: 22px;
        font-weight: 400;
    } 
}

.lead-paragraph-large {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

.lead-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

@media screen and (min-width: 40em){
    .lead-paragraph-large {
        font-size: 30px;
    }
    .lead-paragraph {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
    }
}


/* UTILITY CLASSES */

.text-reverse {
    color: $white !important;
}
  
.primary-color-text {
    color: $primary-color;
}
  
.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.font-sm {
    font-size: 1em;
}


  
/* HEADINGS */
.heading-01 {
    margin-bottom: 30px;
}
  
// sub-headings
.sub-heading-01,
.sub-heading-02,
.sub-heading-03,
.sub-heading-04 {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;  
    font-family: $medium-font;
    span:after { 
        content: "";
        position: absolute;
        left: 100%;
        margin-left: 5px;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
}

.sub-heading-02 {
    span:after { 
        content: "";
        background: $font-color !important;
    }
}

.sub-heading-03 {
    span:after { 
        content: "";
        background: $white !important;
    }
    margin-bottom: 0px;
}

.sub-heading-04 {
    margin-bottom: 60px;
}


.image-caption {
    font-size: 14px;
    font-family: $body-font;
    font-style: italic;
    margin-top: 15px;
    color: $font-color-gray;
    line-height: 1.4;
}

// Paragraph side block decoration

.para-side-block {
    display: inline-block;
    position: relative;  
    span::before { 
        content: "";
        position: absolute;
        left: -20px;
        height: 100%;
        background: $font-color;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
    }
}
