img {
    width: 100%;
    // border: 1px solid rgba($font-color, 0.10);
}

.img-row {
    img {
        width: 100%;
        border: 1px solid rgba($font-color, 0.10);
    }
}

.fw-img {
    width: 100%;
    img {
        width: 100%;
    }
}

.horizontal-ruler-thick,
.horizontal-ruler-thin,
.horizontal-ruler-thick-02,
.horizontal-ruler-thick-rev,
.horizontal-ruler-thin-rev {
    width: 100%;
    height: 3px;
    background: $font-color;
    margin: 30px 0px;
}

.horizontal-ruler-thin {
    height: 1px;
    background: rgba($font-color, 0.25);
}

.horizontal-ruler-thin-rev {
    height: 1px;
    background: rgba($white, 0.25);
}

.horizontal-ruler-thick-02 {
    margin-top: 10px;
}

.horizontal-ruler-thick-rev {
    background: $white;
    height: 2px;
    opacity: 0.25;
}

.text-divider,
.text-divider-rev {
    width: 80px;
    height: 2px;
    background: $font-color;
    margin: 30px 0px;
}

.text-divider-02 {
    width: 15px;
    height: 1px;
    background: $font-color;
    margin: 10px 0px;
}

.text-divider-rev {
    background: $white;
}

.text-padding-left {
    padding-left: 0px;
}

@media screen and ( min-width: 40em ){
    .text-padding-left {
        padding-left: 30px;
    }
}

// Project introduction
.project-intro {
    padding-top: 180px;
    h6 {
        text-transform: uppercase;
        font-weight: 400;
    }
}

// Lead text for introduction paragraphs
.pull-quote-center {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.pull-quote-left {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (min-width: 40em){
    .pull-quote-center {
        font-size: 28px;
    }
    .pull-quote-left {
        font-size: 40px;
        text-align: left;
        padding-right: 60px;
    }
}



// Lead text for introduction paragraphs
  
.lead {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (min-width: 40em) {
    .lead {
        font-size: 22px;
        font-weight: 400;
    } 
}

.lead-paragraph-large {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.4;
}

.lead-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

@media screen and (min-width: 40em){
    .lead-paragraph {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.2;
    }
}



// Image overlay box
.img-overlay {
    position: relative;
    margin-bottom: 30px;
    .img-overlay-caption {
    //   background: rgba($primary-color, 0.8);
    //   background: rgba($white, 0.90);
    background: rgba($secondary-color, 1);
      position: absolute;
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      z-index: 100;
      flex-direction: column;
      padding: 20px;
      h4 {
        color: $white;
        font-weight: 600;
      }
      h6 {
        font-size: 20px;
        text-align: center;
        color: $primary-color;
      }
      p {
        font-weight: 400;
        font-style: italic;
        text-align: center;
      }
      transition: opacity 0.5s;
    }
    .img-overlay-caption:hover {
      opacity: 1;
    }
    .portfolio-item-description {
        background: rgba($black, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        h6, p {
            color:$white;
        }
        h6 {
            font-weight: 600;
            margin: 0px;
        }
        p {
            margin-bottom: 0px;
            font-size: 14px;
        }
    }
    .portfolio-item-description:hover {
        bottom: -100%;
    }
  }

// .img-item {
//     img {
//         border: 1px solid rgba($font-color, 0.15);
//     }
// }

  // Intro progragraph
  .hero-paragraph {
      h1 {
          text-transform: uppercase;
          color: $primary-color;
          line-height: 1.1;
      }
      p {
          font-size: 18px;
      }
  }

/* UTILITY CLASSES */

.white-text {
    color: $white !important;
}
  
.primary-color-text {
    color: $primary-color;
}
  
.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

// .project-specs {
//     // font-weight: 600;
//     font-size: 20px;
//     font-family: omnes_bold-italic;
//     background: $secondary-color;
// }
  
/* HEADINGS */
.heading-01 {
    margin-bottom: 30px;
}
  
// sub-headings
.sub-heading-01,
.sub-heading-02,
.sub-heading-03,
.sub-heading-04 {
    margin-bottom: 30px;
    color: rgba($font-color, 0.5) !important;
    display: inline-block;
    position: relative;  
    font-family: $black-font;
    span:after { 
        content: "";
        position: absolute;
        left: 100%;
        margin-left: 5px;
        height: 2px;
        background: rgba($font-color, 0.5) !important;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
}

.sub-heading-02 {
    color: $font-color !important;
    span:after { 
        content: "";
        background: $font-color !important;
    }
}

.sub-heading-03 {
    color: $white !important;
    span:after { 
        content: "";
        background: $white !important;
    }
    margin-bottom: 0px;
}

.sub-heading-04 {
    margin-bottom: 60px;
}


.image-caption {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
    color: rgba($font-color, 0.75);
}