.footer-rev {
    *{
        color: $white;
    }
    .footer-content {
        .footer-contact {
            h6 {
                color: $white;
            }
        }
    } 
}

.footer-wapper {
    padding: 10px;
    .footer-logo {
        img {
            width: 55%;
        }
    }
}

.footer-menu {
    display: flex;
    margin: 0px;
    li {
        list-style-type: none;
        margin-right: 30px;
    }
    li > a {
        color: $font-color;
    }
    li > a:hover {
        font-weight: 700;
        color: $primary-color;
    }

    li > a::after {
        display: block;
        content: attr(title);
        font-weight: 700;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

.footer-content {
    .horizontal-ruler-thick {
        display: none;
    }
    .footer-blurb {
        font-size: 18px;
        font-weight: 700;
        margin: 30px 0px 10px 0px;
    }
    .footer-contact {
        h6 {
        color: $font-color;
        margin-top: 20px;
        }
        ul {
            margin: 0px;
            
        }
        ul > li {
            list-style-type: none;
            font-weight: 600;
            font-size: 14px;
        }
        .footer-social {
            display: flex;
            li {
                margin-right: 10px;
                font-size: 16px;
            }
        }
    }
    .horizontal-ruler-thin {
        margin-bottom: 10px;
    }
    .footer-copyright {
        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

@media screen and (min-width: 40em){
    .footer-wapper {
        padding: 90px 0;
        .footer-logo {
            img {
                width: 75%;
            }
        }
    }

    .footer-content {
        .horizontal-ruler-thick {
            display: block;
        }
        .footer-blurb {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 60px;
            margin-top: 0px;
        }
        .footer-contact {
            h6 {
            margin-top: 0px;
            }
        }
    } 
}

