.about-header {
    position: relative;
    z-index: 1;
    // height: 100vh;
    // max-height: rem-calc(1350);
    // min-height: rem-calc(650);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;   
}

.about-banner-img {
    margin-top: 90px;
    p {
        text-align: right;
        font-size: 11px;
        span {
            font-family: $medium-font;
        }
    }
}

.about-banner-intro {
    padding: 30px;
    background: #fff;
    margin-top: -120px;
    h2 {
        margin-bottom: 0px;
    }
}

.about-content {
    margin-top: 30px;
    margin-bottom: 100px;
} 

// @media screen and (min-width: 40em){
//     .about-content {
//         margin-top: 210px;
//     } 
// }

.technical-skills {
    margin-top: 60px;
    h5 {
        font-family: $medium-font;
    }
    p {
        font-size: 16px;
        span {
            font-family: $medium-font;
        }
    }
    .horizontal-ruler-thick {
        margin-top: 5px;
    }
    span.technical-img {
        img {
            width: 40px;
        }
    }
}

.peach-img {
    margin-top: 20px;
    // width: 50px;
    margin: 0 auto;
    // display: flex;
    img {
        width: 50px;
        padding: 0 5px;
    }
}













// .about-hero-img {
//     padding: 0 40px 40px 40px;
// }

// .about-fw-blurb {
//     padding: 60px 0 0 0;
// }

// .about-wrapper {
//     .pull-quote-center {
//         font-size: 24px;
//     }
// }
// .heading-small {
//     text-transform: uppercase;
//     color: $secondary-color;
// }