
/* FULL PAGE HEADER IMAGE */

section {
  padding: 30px 15px;
}
.hero-section {
  padding-top: 180px;
}

@media screen and (min-width: 64em) {
  section {
    padding: 0px;
  }
}

.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
  display: flex;
  align-items: center;
}
  
  .feature-banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (min-width: 40em) {
    .section-wrapper {
      margin: 60px 0;
    }
} 

// text center
.col-1-text-center {
  h3, p {
    text-align: center;
  }
}

// full page image center page
.fw-image-01 {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }
}
// @media screen and (min-width: 40em){
//   .fw-image-01 {
//     img {
//       width: 80%;
//     }
//   }
// }

// full page image flush
.fw-image-02 {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  img {
    width: 100%;
  }
}

// Col-3-img-text
.col-3-img-text {
  h5 {
    margin-top: 20px;
  }
  p {
    margin-bottom: 5px;
  }
}

// Logo crawl
.logo-crawl-wrapper {
  img {
    padding: 10px;
  }
  p {
    font-weight: 600;
    color: $dark-gray
  }
}

// Two columns - image left
.col-2-one-img {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
