/* FULL PAGE HEADER IMAGE */

section {
  padding: 15px;
}

@media screen and (min-width: 64em) {
  section {
    padding: 30px 0px;
  }
}

.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
  display: flex;
  align-items: center;
}
  
  .feature-banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (min-width: 40em) {
    .section-wrapper {
      margin: 60px 0;
    }
} 

// text center
.col-1-text-center {
  h3, p {
    text-align: center;
  }
}

// full page image center page
.fw-image-01 {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }
}
@media screen and (min-width: 40em){
  .fw-image-01 {
    img {
      width: 80%;
    }
  }
}

// full page image flush
.fw-image-02 {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  img {
    width: 100%;
  }
}