// Portfolio item hero
.portfolio-item-hero {
    padding-top: 90px;
  }
  
  @media screen and ( min-width: 64em ){
    .portfolio-item-hero {
      padding-top: 180px;
    }
  }
  
  .portfolio-item-heading {
    .portfolio-item-tags {
      margin: 0px;
      display: flex;
      li {
        list-style-type: none;
        text-transform: uppercase;
        margin-right: 8px;
      }
    }
    a:hover {
      font-weight: 700;
      color: $primary-color;
    }
      a::after {
      display: block;
      content: attr(title);
      font-weight: 700;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    h1 {
      color: $font-color;
      margin-bottom: 5px;
    }
    .portfolio-heaing-client {
      span {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }