.service-wrapper {
    h3 {
        color: $primary-color;
    }
}
.service-item {
    p {
        font-size: 14px;
    }
}

.service-list {
    ul > li {
        list-style-type: square;
        font-size: 14px;
        margin-bottom: 3px;
    }
    ul > li > span {
        margin-right: 10px;
        font-weight: 600;
        color: rgba($font-color, 0.5);
    }
}