$bird-main-color: #E94444;

.bird-intro-wrapper {
    background: linear-gradient(135deg, #F54B64 0%,#e94444 100%);
    * {
        color: $white;
    }
    .bird-hero-img {
        text-align: center;
        img {
            width: 200px;
        }
    }
}

.bird-nerd-intro {
    margin-top: 90px;
}

.bird-nerd-background,
.bird-nerd-wireframe,
.bird-nerd-wireframe-02,
.bird-nerd-final-prototype,
.bird-nerd-final {
    padding: 60px 0;
}

.bird-nerd-mockups {
    padding: 60px 0;
    background: #F2F2F2;
}

.bird-nerd-image {
    margin-top: 60px;
}

// Last panel
.bird-nerd-final {
    h2 {
        color: $bird-main-color;
        margin-bottom: 30px;
    }
    aside {
        img {
            width: 250px;
            padding-left: 30px;
        }
    }
    .bird-final-content {
        display: flex;
        height: auto;
        align-items: center;
        padding-right: 30px;
    }
}



