$chatbot-color: #2E2F98;

.chatbot-wrapper {
    background: #FFFFFF;
}

.chatbot-left,
.chatbot-right {
    padding: 30px;
}

@media screen and (min-width: 40em){
    .chatbot-left,
    .chatbot-right {
        padding: 60px;
    }
}


.chat-hero-wrapper {
    min-height: 100vh;
    background: #2068AD;
    .chat-hero-content {
        margin-top: 60px;
        text-align: center;
        * {
          // color: $chatbot-color;
          color: $white;
        }
        img {
            width: 220px;
            margin-bottom: 30px;
        }
        h1 {
            margin-top: 30px;
            margin-bottom: 5px;
        }
        h2 {
            font-weight: 300;
            font-size: 36px;
            line-height: auto;
        }
        p {
          font-size: 22px;
        }
        a {
          text-decoration: underline;
          font-weight: 400;
        }
    }
}

.climate-wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #759AD0;
  .climate-globe {
    margin: 0 auto;
    text-align: center;
    img {
      width: 200px
    }
  }
  .climate-content {
    h3, p {
      color: $white !important;
      text-align: center;
    }
  }
  p {
    font-size: 18px;
  }
}

.bluey-wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  background: darken(#759AD0, 10);
  .bluey-content-wrapper {
    flex-direction: column-reverse;
  }
  .bluey {
    text-align: center;
    margin-bottom: 30px;
    img {
      width: 240px;
    }
  }
  .bluey-content {
    padding-right: 0px;
    text-align: center;
    h2, p {
      color: $white;
    }
    p {
      font-size: 18px;
       margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 64em){
  .bluey-wrapper {
    .bluey-content-wrapper {
      flex-direction: row;
    }
    .bluey {
      img {
        width: 300px;
      }
    }
    .bluey-content {
      padding-right: 90px;
      text-align: center;
      h2, p {
        color: $white;
      }
      p {
        font-size: 18px;
         margin-bottom: 30px;
      }
    }
  }
}

.messenger-button {
    background: #F65E78;
    display: inline-block;
    padding: 10px 40px;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.25s;
}

.messenger-button:hover {
    background: darken(#F65E78, 10);
    color: $white;
}


.chatbot-footer {
  background: #394C88;
}
// @media screen and (min-width: 64em) {
//   .chatbot-right {
//       .chat-hero-right {
//           margin-top: 30px;
//       }
//   }
// }
