.home-hero {
  background: $primary-color;
  position: relative;
  // background: url(../img/temp-background.jpg) center center no-repeat;
  // background: url(../img/temp-background.jpg) center center no-repeat;
  background-size:  cover;
  p {
    color: $white;
    font-size: 20px;
  }
  h2 {
    // text-transform: uppercase;
    color: $white;
  }
  .hero-image {
    margin: 0 auto;
    text-align: center;
    img {
      width: 200px;
    }
  }
  .home-scroll {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 3%;
    left: 1%;
    opacity: 0.5;
    p {
      font-size: 12px;
      font-weight: 400;
      color: $white;
    }
  }
}


.into-para {
  padding: 120px 0;
  color: $primary-color;
  p {
    font-size: 36px;
  }
}

// .intro-section {
//   margin: 90px 0;
// }
