.home-hero {
  background: $primary-color;
  position: relative;

  background-size:  cover;
  p {
    color: $white;
    font-size: 20px;
  }
  h2 {
    color: $white;
  }
  .hero-image {
    margin: 0 auto;
    text-align: center;
    img {
      width: 200px;
    }
  }
}

.home-intro {
  a {
    font-size: 16px;
    font-family: $medium-font;
  }
  a:hover {
    color: #f9003c;
  }
}

// / Image overlay box 

.img-overlay-item {
  margin-bottom: 60px;
}

@media screen and (min-width) {
  .img-overlay-item {
    margin-bottom: 0px;
  }
}

.img-overlay,
.img-overlay-02 {
    position: relative;
    margin-bottom: 30px;
}

.img-overlay-caption, 
.img-overlay-caption-02 {
    background: rgba($secondary-color, 1);
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    flex-direction: column;
    padding: 20px;
    h4 {
        color: $white;
        font-weight: 600;
    }
    h6 {
        font-size: 20px;
        text-align: center;
        color: $primary-color;
    }
    p {
        font-weight: 400;
        text-align: center;
    }
    transition: opacity 0.5s;
}

.img-overlay-caption:hover,
.img-overlay-caption-02:hover{
    opacity: 1;
}

.portfolio-item-description {
    background: rgba($black, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    h6, p {
        color:$white;
    }
    h6 {
        font-weight: 600;
        margin: 0px;
    }
    p {
        margin-bottom: 0px;
        font-size: 14px;
    }
}

.img-overlay-02 {
    margin-bottom: 15px;
}

.img-overlay-caption-02 {
    background: $accent-color;
    display: block;
    padding: 35px;
    h6 {
        color: $white;
        text-align: left;
    }
    p {
        text-align: left;
        font-family: $bold-font;
        font-size: rem-calc(24);
        line-height: 1.2;
    }
    * {
        color: $white;
        font-family: $black;
        text-align: left;
    }
}

@media screen and (min-width: 40em) {
  .img-overlay-caption-02 {
    padding: 20px;
    p {
      font-size: rem-calc(18);
    }
  }
}

@media screen and (min-width: 1000px) {
  .img-overlay-caption-02 {
    padding: 35px;
    p {
        font-size: rem-calc(24);
        line-height: 1.1;
    }
  }
}

.project-title {
    line-height: 1.2;
    margin-bottom: 5px;
    span {
        font-family: $body-font;
        color: $font-color-gray;
    }
}

.project-tags {
    font-size: rem-calc(14);
    color: $font-color-gray;
    font-family: $medium-font;
    margin-top: 30px;
    line-height: 1.1;
}



  // Intro progragraph
  .hero-paragraph {
      h1 {
          text-transform: uppercase;
          color: $primary-color;
          line-height: 1.1;
      }
      p {
          font-size: 18px;
      }
  }

