$manu-color: #A1CCDD;
$manu-color-02: #537ae7;
$manu-bg-color: #e6effa;

.manu-hero {
    background: $manu-color;
    img {
        width: 250px;
    }
}

// .manu {
//     background: #F4F6F1;
// }

.manu-final-presentation {
    background: lighten($manu-bg-color, 5);
    padding: 60px 0px;
    .manu-prototype-img {
        padding: 30px;
    }

    .manu-prototype-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 50px;
            // text-transform: uppercase;
            color: $manu-color-02;
        }
        p.lead-paragraph-large {
            font-family: graphik-black, sans-serif;
            font-size: 30px;
        }
        p:nth-of-type(2) {
            color: lighten($font-color, 25);
        }
    }
}

@media screen and (min-width: 40em){
    .manu-final-presentation {
        .manu-prototype-img {
            padding: 40px;
        }
    
        .manu-prototype-content {
            h1 {
                font-size: 45px;
            }
        }
    }
}

@media screen and (min-width: 64em){
    .manu-final-presentation {
        .manu-prototype-img {
            // padding: 90px;
            // padding-right: 120px;
        }
    
        .manu-prototype-content {
            // padding-right: 150px;
            h1 {
                font-size: 50px;
            }
        }
    }
}















