$manu-color: #042047;
$manu-color-02: #537ae7;
$manu-bg-color: #e6effa;

.manu-hero-wrapper {
    background: $manu-color;
    text-align: center;
    padding: 20px;
    position: relative;
    img {
        margin-top: 30px;
        width: 300px;
    }
}

.manu-final-presentation {
    background: lighten($manu-bg-color, 5);
    padding: 60px 0px;
    .manu-prototype-img {
        padding: 30px;
    }

    .manu-prototype-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 50px;
            color: $manu-color-02;
        }
        p.lead-paragraph-large {
            font-family: graphik-black, sans-serif;
            font-size: 30px;
        }
        p:nth-of-type(2) {
            color: lighten($font-color, 25);
        }
    }
}

@media screen and (min-width: 40em){
    .manu-final-presentation {
        .manu-prototype-img {
            padding: 40px;
        }
    
        .manu-prototype-content {
            h1 {
                font-size: 45px;
            }
        }
    }
}

@media screen and (min-width: 64em){
    .manu-final-presentation {
        .manu-prototype-img {
            // padding: 90px;
            // padding-right: 120px;
        }
    
        .manu-prototype-content {
            // padding-right: 150px;
            h1 {
                font-size: 50px;
            }
        }
    }
}


// to be continued
.to-be-continued {
    margin-top: 30px;
    // padding: 60px;
}

@media screen and (min-width: 40em){
    .to-be-continued {
        margin-top: 30px;
        padding: 60px 60px 0px 60px;
        img {
            width: 100%;
        }
    }
}











