$nos-color: red;
$nos-bg-color: #ecf0f1;

.nos-wrapper {
    background: lighten(#ecf0f1, $amount: 10);
    background: #f4f7f6;
}

.nos-hero-wrapper {
    // background: lighten(#EDEBF3, 5);
    background: url(../img/portfolio-items/nos/nos-hero-temp.jpg) center center no-repeat;
    background-size:  cover;
    position: relative;
    .nos-hero-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img {
        margin-top: 30px;
        width: 650px;
    }
}


.nos-wallet-wrapper {
    background: #eaeeef;
    padding: 200px 0px 90px 0px;
    position: relative;
    .nos-wallet-type {
        position: absolute;
        width: 100%;
        top: 120px;
        opacity: 0.03;
    }
}

.nos-wallet-discription {
    margin-bottom: 60px;
    p {
        font-size: 16px;
    }
}

// slides
.slide {
    .slide-caption {
        margin-bottom: 20px;
        p:nth-of-type(1) {
            font-size: 16px;
            font-family: $bold-font;
            margin-bottom: 0px;
            span {
                font-family: $black-font;
                opacity: 0.5;
            }
        }
        p:nth-of-type(2) {
            font-size: 16px;
            opacity: 0.75;
        }
    }
}



// Slick
.slick-prev:before, .slick-next:before {
    color: $font-color;
    font-size: 25px;
    opacity: 0.25;
    display: none;
}

.slick-prev:before {
    margin-left: -5px;
}

@media screen and (min-width: 40em){
    .slick-prev:before, .slick-next:before {
        display: block;
    }
}
