$nos-bg-color: #ecf0f1;
$nos-gradient: linear-gradient(270deg, #9DCC49 0%, #429321 100%);

.nos-wrapper {
    background: lighten(#ecf0f1, $amount: 10);
    background: #f4f7f6;
}

.nos-hero-wrapper {
    background: #0b3c77;
    position: relative;
    .nos-hero-content {
        position: relative;
        z-index: 1000;
        .design-tags {
            font-family: $bold-font;
            opacity: 1;
        }
        h2 {
            font-family: $bold-font;
            opacity: 0.5;
        }
        .lead-paragraph {
            font-family: $light-font;
        }
        .nos-hero-img {
            max-width: 250px;
            margin: 15px auto;
        }

    }
    .hero-bg-type,
    .nos-type {
        position: absolute;
        top: 110px;
        opacity: 0.05;
        img {
            width: 100%;
        }
    }
    .nos-type {
        width: 40%;
    }
}

@media screen and (min-width: 64em){
    .nos-hero-wrapper {
        .nos-hero-content {
            margin-top: 90px;
        }
    }
}


// nOS introduction section
.nos-intro {
    background: #eaeeef;
    position: relative;
    .nos-project-type {
        position: absolute;
        width: 100%;
        top: 120px;
        left: -35%;
        opacity: 0.03;
    }
    .nos-project-intro {
        z-index: 1000;
    }
}

@media screen and (min-width: 1200px ){
    .nos-intro { 
        .nos-project-type {
            width: 90%;
            top: 90px;
        }
    }
}

// projects screens
.nos-screens-wrapper {
    position: relative;
    .fw-img {
        z-index: 2000 !important;
    }    
}

// project screen captions
.screen-caption {
    margin-bottom: 20px;
    p {
        font-size: 16px;
    }
    p:nth-of-type(1) {
        font-family: $bold-font;
        margin-bottom: 0px;
        font-size: 20px;
    }
}


//Dapp explorer
.nos-login,
.nos-explorer,
.nos-settings {
    position: relative;
    img {
        z-index: 1000;
    }
}

.nos-side-type {
    position: absolute;
    opacity: 0.10;
    top: 300px;
    left: -40px;
    width: 20px;
    img {
        width: 100%;
    }
}


// Nos Wallet
.nos-wallet-wrapper {
    background: #eaeeef;
    padding: 200px 15px 90px 15px;
    position: relative;
    .nos-wallet-type {
        position: absolute;
        width: 100%;
        top: 120px;
        opacity: 0.03;
    }
}

@media screen and (min-width: 40em){
    .nos-wallet-wrapper {
        padding: 200px 0px 90px 0px;
    }
}

.nos-wallet-discription {
    margin-bottom: 60px;
    z-index: 1000;
    p {
        font-size: 16px;
    }
}

// slides
.slide-wrapper {
    z-index: 2000 !important;
}

.slide {
    img {
        padding: 0px 20px;
    }
    .slide-caption {
        margin-bottom: 20px;
        p:nth-of-type(1) {
            font-size: 16px;
            font-family: $bold-font;
            margin-bottom: 0px;
            span {
                font-family: $bold-font;
                opacity: 0.5;
            }
        }
        p:nth-of-type(2) {
            font-size: 15px;
            opacity: 0.75;
            // font-style: italic;
        }
    }
}



// Slick
.slick-prev:before, .slick-next:before {
    color: $font-color;
    font-size: 25px;
    opacity: 0.15;
    display: none;
}

.slick-prev:before {
    margin-left: -5px;
}

@media screen and (min-width: 40em){
    .slick-prev:before, .slick-next:before {
        display: block;
    }
}

.slick-dots {
    opacity: 0.5;
}

// vertical lines design
.vertical-line {
    position: absolute;
    top: 0;
    left: 22%;
    height: 100%;
    width: 1px;
    background: $font-color;
    opacity: 0.05;
}

.vertical-line-02 {
    position: absolute;
    top: 0;
    right: 22%;
    height: 100%;
    width: 1px;
    background: $font-color;
    opacity: 0.09;
}