$nos-color: red;
$nos-bg-color: #ecf0f1;

.nos-wrapper {
    background: lighten(#ecf0f1, $amount: 10);
    background: #f4f7f6;
}

.nos-hero-wrapper {
    // background: lighten(#EDEBF3, 5);
    background: url(../img/portfolio-items/nos/nos-hero-temp.jpg) center center no-repeat;
    background-size:  cover;
    position: relative;
    .nos-hero-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img {
        margin-top: 30px;
        width: 650px;
    }
}


// NOS background circle
.nos-screens {
    position: relative;
    .nos-bg-circle {
        width: 50%;
        position: absolute;
        z-index: -1;
        right: -10%;
        top: -10%;
    }
}

.nos-wallet-wrapper {
    background: #eaeeef;
    padding: 250px 0px 90px 0px;
}

.nos-wallet-discription {
    margin-bottom: 60px;
}



// Slick
.slick-prev:before, .slick-next:before {
    color: $font-color;
    font-size: 25px;
    opacity: 0.25;
    display: none;
}

.slick-prev:before {
    margin-left: -5px;
}

@media screen and (min-width: 40em){
    .slick-prev:before, .slick-next:before {
        display: block;
    }
}
