.teawe-intro {
    background: #d52f27;
    color: $white;
}

.te-awe-bg {
    background: #d22f28 !important;
}

.te-awe {
    .btn-primary-03 {
        background: #d22f28 !important;
        color: #fff;
    }
}

.teawe-hero {
    .teawe-hero-content {
        h1 {
           color: #d22f28 !important;
        }
    }
}