// .xera-hero {
//     // background: #0f1a2c;
//     background: linear-gradient(135deg, #394762 0%,#141f33 100%);
//     // background: linear-gradient(135deg, #1b1c3f 0%,#212347 100%);
//     * {
//         color: rgba($white, $alpha: 0.8);
//     }
// }

// .xera-hero {
//     padding: 90px 0px;
// }

$xera-color: #3693C9;
.xera-wrapper {
    background: #f2f3f7;
}

.project-section {
    padding: 90px 0px;
}

// Xera hero section
.xera-hero {
    position: relative;
    background: rgba($font-color, 0.01);
    .project-tag {
        font-family: $bold-font;
        color: lighten($font-color, 20);
    }
    overflow: hidden;
}

.xera-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: $xera-color;
    }
}

.xera-hero-btn {
    margin-top: 20px;
    .btn-primary-sm {
        background: $xera-color;
    }
}

.bg-solid {
    height: 100vh;
    width: 30%;
    background: rgba($font-color, 0.02);
    position: absolute;
    right: 0;
    z-index: -1;
}

// Intro section
.xera-project-intro {
    background: darken(#1B314D, 10);
    .intro-solid {
        background: rgba($xera-color, 0.1);
    }
    .intro-content {
        * {
            color: $white;
        }
        h2 {
            margin-bottom: 30px;
        }
    }
}

// Dashboard
.xera-dashboard {
    padding: 90px 0px;
    // background: $xera-gradient;
    background: darken(#1B314D, 5);
    position: relative;
    .dashboard-img {
        z-index: 10;
    }
    .dashboard-solid-bg {
        height: 100%;
        width: 30%;
        // background: rgba($white, 0.02);
        background: darken(#1B314D, 8);
        position: absolute;
        right: 0;
        z-index: 0;  
        bottom: 0px;
    }
}

.xera-screens {
    background: #F7F8F9;
}

// Xera styles
.xera-styles {
    padding: 120px 0px;
    background: darken(#1B314D, 10);
    * {
        color: $white;
    }
    img {
        width: 100%;
    }
    .xera-typeface {
        .typeface-intro {
            padding-right: 30px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 64em){
    .xera-styles {
        .xera-typeface {
            border-right: 1px solid rgba($font-color, 0.15);
        }
    }
}
 
// Platform
.xera-platform {
    // background: $xera-gradient;
    background: darken(#1B314D, 5);
    position: relative;
    padding: 120px 0px;
    padding-bottom: 150px;
    .platform-content,
    .platform-img {
        z-index: 10;
    }
    .platform-solid-bg {
        height: 100%;
        width: 30%;
        // background: rgba($white, 0.02);
        background: darken(#1B314D, 8);
        position: absolute;
        right: 0;
        z-index: 1;  
        bottom: 0px;
    }
    .background-img {
        position: absolute;
        bottom: 0;
        img {
            width: 100%;
            opacity: 0.25;
        }
    }
}


// Heading

.xera-heading {
    color: rgba($white, 0.25);
    display: inline-block;
    position: relative;  
    font-family: $black-font;
    margin-left: 50px;
    margin-bottom: 90px;
    span::before { 
        content: "";
        position: absolute;
        left: -50px;
        height: 30px;
        background: #39C2D3;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
    }
}


// Xera footer 
.xera-footer {
    // background: darken(#202b41, 4);
    background: darken(#1B314D, 9);   
}