.xera-wrapper {
    // background: #0f1a2c;
    background: linear-gradient(135deg, #394762 0%,#141f33 100%);
    * {
        color: rgba($white, $alpha: 0.8);
    }
}

.xera-hero {
    padding: 90px 0px;
}