$xera-color: #39C2D3;

.project-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

// Xera hero section
.xera-hero {
    position: relative;
    background: rgba($font-color, 0.01);
    background: darken(#1B314D, 5); 
    .project-tag {
        font-family: $body-font;
        color: lighten($font-color, 20);
        color: $white;
    }
    overflow: hidden;
}

.xera-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // opacity: 0.6;
    h1 {
        color: $white;
    }
}

.xera-hero-btn {
    margin-top: 20px;
    .btn-primary-sm {
        background: $xera-color;
    }
}

.bg-solid {
    height: 100vh;
    width: 30%;
    background: rgba($font-color, 0.02);
    position: absolute;
    right: 0;
    z-index: -1;
}

// Intro section
.xera-project-intro {
    background: darken(#1B314D, 10);
    .intro-solid {
        background: rgba($xera-color, 0.1);
    }
    .intro-content {
        h2 {
            margin-bottom: 30px;
        }
    }
}

// Dashboard
.xera-dashboard {
    background: darken(#1B314D, 5);
    position: relative;
    .dashboard-img {
        z-index: 10;
    }
    .dashboard-solid-bg {
        height: 100%;
        width: 30%;
        background: darken(#1B314D, 8);
        position: absolute;
        right: 0;
        z-index: 0;  
        bottom: 0px;
    }
}

.xera-screens {
    background: #F7F8F9;
}

// Xera styles
.xera-styles {
    padding-top: 120px;
    padding-bottom: 120px;
    background: darken(#1B314D, 10);
    * {
        color: $white;
    }
    img {
        width: 100%;
    }
    .xera-typeface {
        .typeface-intro {
            padding-right: 30px;
            margin-bottom: 20px;
        }
    }
}
 
// Platform
.xera-platform {
    // background: $xera-gradient;
    background: darken(#1B314D, 5);
    position: relative;
    padding-top: 120px;
    padding-bottom: 150px;
    .platform-content,
    .platform-img {
        z-index: 10;
    }
    .platform-solid-bg {
        height: 100%;
        width: 30%;
        background: darken(#1B314D, 8);
        position: absolute;
        right: 0;
        z-index: 1;  
        bottom: 0px;
    }
    .background-img {
        position: absolute;
        bottom: 0;
        img {
            width: 100%;
            opacity: 0.5;
        }
    }
}


// Heading

.xera-heading {
    color: rgba($white, 0.25);
    display: inline-block;
    position: relative;  
    font-family: $bold-font;
    margin-left: 50px;
    margin-bottom: 60px;
    span::before { 
        content: "";
        position: absolute;
        left: -50px;
        height: 30px;
        background: $xera-color;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
    }
}


// Xera footer 
.xera-footer {
    background: darken(#1B314D, 9);   
}