<div class="footer-wapper">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-3">
                <div class="horizontal-ruler-thick"></div>
                <div class="footer-logo">
                    <a href="home.html"><img src="assets/img/main-logo-black.svg" alt=""></a>
                </div>
            </div>
            <div class="cell large-9 medium-9 footer-content">
                <div class="horizontal-ruler-thick"></div>
                <div class="grid-x">
                    <div class="cell large-10">
                        <p class="footer-blurb">We collaborate with big and small businesses,
                            let’s build something great together.</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x footer-contact">
                    <div class="cell large-6 medium-6">
                        <ul>
                            <li>Rath Prak</li>
                            <li>DIGITAL DESIGNER | UI/UX DESIGNER</li>
                            <li>Wellington, New Zealand</li>
                        </ul>
                    </div>
                    <div class="cell large-6 medium-6 footer-contact">
                        <h6>Get in touch</h6>
                        <ul class="footer-social">
                            <li><a target="_blank" class="contact-item" href="mailto:rathanap@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" class="contact-item" href="https://nz.linkedin.com/in/rath-prak-97761a40"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" class="contact-item" href="https://github.com/rath-prak"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" class="contact-item" href="https://twitter.com/rathpnz"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="horizontal-ruler-thin"></div>
                <div class="footer-copyright">
                    <p>&copy; Copyright 2019 Digital Bla Bla</p>
                </div>
            </div>
        </div>
    </div>
</div>
