<div class="footer-wapper">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-3">
                <div class="horizontal-ruler-thick"></div>
                <div class="footer-logo">
                    <a href="home.html"><img src="assets/img/tbd_logo.svg" alt=""></a>
                </div>
            </div>
            <div class="cell large-9 medium-9 footer-content">
                <div class="horizontal-ruler-thick"></div>
                <div class="grid-x">
                    <div class="cell large-8">
                        <p class="footer-blurb">We collaborate with big and small businesses,
                            let’s build something great together.</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x footer-contact">
                    <div class="cell large-4 medium-4">
                        <h6>Physical address</h6>
                        <ul>
                            <li>TBD Design,</li>
                            <li>1st Floor,72 Abel Smith Street</li>
                            <li>Wellington, 6011</li>
                            <li>New Zealand</li>
                        </ul>
                    </div>
                    <div class="cell large-4 medium-4">
                            <h6>Postal address</h6>
                            <ul>
                                <li>PO Box 14619</li>
                                <li>Wellington 6241</li>
                                <li>New Zealand</li>
                            </ul>
                        </div>
                    <div class="cell large-4 medium-4">
                        <h6>Contact</h6>
                            <a href="contact.html" class="btn-primary-02">Get in touch</a>
                            <p class="footer-contact-phone"><a href="">+64 (04) 802 3800</a></p>
                    </div>
                </div>
                <div class="horizontal-ruler-thin"></div>
                <div class="footer-copyright">
                    <p>&copy; Copyright 2017 Rayfinn Digital.</p>
                </div>
            </div>
        </div>
    </div>
</div>
