<section class="fp-header home-hero">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
              <!-- <h2 class="text-center">Excited to build whatever comes next!</h2>
              <p class="text-center">Design should impress. Design should please.</p> -->
              <!-- <div class="hero-image">
                <img src="assets/img/scribble.png" alt="">
              </div> -->
            </div>
        </div>
    </div>

    <div class="scroll-down-wrapper">
        <div class="solution-arrow">
            <img src="assets/img/view-projects.svg" alt="">
        </div>
        <button type="button" class="scroll-down-reverse"></button>
    </div>

    <!-- <i class="fas fa-envelope"></i> -->
    <!-- <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-linkedin"></i> -->

    <div class="hero-contact-footer">
        <ul>
          <li><a target="_blank" class="contact-item" href="mailto:rathanap@gmail.com"><i class="fas fa-at"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://nz.linkedin.com/in/rath-prak-97761a40"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://github.com/rath-prak"><i class="fab fa-github"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://twitter.com/rathpnz"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>

</section>
