<section class="fp-header home-hero">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6">
              <h3>Digital designer</h3>
              <p>We’re technologists and entrepreneurs, so we understand both the technical and business challenges of creating digital products.</p>
            </div>
            <div class="cell large-6 hero-image">
              <img src="assets/img/test-image.png" alt="">
            </div>
        </div>
    </div>
</section>
