<section class="fp-header home-hero">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                      <div class="grid-x grid-margin-x">
                          <div class="cell large-10">
                              <p class="lead-paragraph-large text-reverse">Hello,  XXXXXXXX a digital designer based in Wellington New Zealand. A <span class="underline">passionate problem solver</span> and you love colors and building prototypes
                                  </p>
                              <div class="text-divider-rev"></div>
                              <p class="lead text-reverse">I have been working in the creative industry in New Zealand since 2009, firstly as a visual designer and now as a digital designer focusing on UX/UI and front-end web development. I have passion for new and <strong>emerging technologies</strong> and have a keen interest in <strong>blockchain, chatbots, AI and socialTech.</strong> 
                              </p>
                          </div>
                      </div> 
                  
  
            </div>
        </div>
    </div>

    <div class="scroll-down-wrapper">
        <div class="solution-arrow">
            <img src="assets/img/view-projects.svg" alt="">
        </div>
        <button type="button" class="scroll-down-reverse"></button>
    </div>

    <div class="hero-contact-footer">
        <ul>
          <li><a target="_blank" class="contact-item" href="mailto:rathanap@gmail.com"><i class="fas fa-at"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://nz.linkedin.com/in/rath-prak-97761a40"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://github.com/rath-prak"><i class="fab fa-github"></i></a></li>
          <li><a target="_blank" class="contact-item" href="https://twitter.com/rathpnz"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>

</section>
