<header id="header" class="nav-wrapper header">
    <div class="opaque-background">
      <div class="grid-container nav-container">
    
        <div class="main-navigation">    
          <div class="nav-logo">
            <a href="index.html"><img src="assets/img/tbd_logo.svg" alt="TBD Design"></a>  
          </div>
          <nav role="navigation" class="nav-menu">
            <ul>
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                  <a href="projects.html">Our Work</a>
              </li>
              <li>
                <a href="services.html">Services</a>
              </li>
                <li>
                <a href="contact.html">Contact</a>
              </li>
              <li>
                <a href="#"><span>04 802 3800</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div> <!-- opaque-background -->
    <!-- Hamburger -->
      <div class="toggle-bar-wrapper">
          <div class="toggle-bars">
            <b></b>
            <b></b>
            <b></b>
          </div>
        </div>
        
      </div>
    </header>
    
    
    
    <!-- Full Slidenav Menu -->
    <div class="sidenav-wrapper">
      <div class="sidenav-content">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="faqs.html">FAQs</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    
    </div>
    
