<header id="header" class="nav-wrapper header">
  <div class="opaque-background">
    <div class="nav-container">

      <div class="main-navigation">
        <div class="nav-logo">
        <a href="index.html">
          <img src="assets/img/main-logo-white.svg" alt="">
        </a>

        </div> 
        <nav role="navigation" class="nav-menu">
          <ul>
            <!-- <li>
              <a href="index.html">Home</a>
            </li> -->
            <li>
              <a href="about.html">About</a>
              <div class="menu-underline"></div>
            </li>

            <li>
              <a href="resume.html">Resume</a>
              <div class="menu-underline"></div>
            </li>

            <li>
              <a href="contact.html">Contact</a>
              <div class="menu-underline"></div>
            </li>

          </ul>
        </nav>
      </div>
    </div> <!-- opaque-background -->
  <!-- Hamburger -->
    <div class="toggle-bar-wrapper">
        <div class="toggle-bars">
          <b></b>
          <b></b>
          <b></b>
        </div>
      </div>

    </div>
    
  </header>


<!-- Fullpage overlay navigation-->
<div class="overlay-nav">
<div class="grid-container">
  <ul class="overlay-nav-links">

    <li><a href="about.html">About</a></li>
    <li><a href="index.html">My work</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li>
      <ul class="contact-icons">
        <li><a href="mailto:rathanap@gmail.com"><i class="fas fa-at"></i></a></li>
        <li><a href="mailto:rathanap@gmail.com"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="mailto:rathanap@gmail.com"><i class="fab fa-github"></i></a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
